.airbnb-footer
    footer.container
        .footer-info.row
            .col-xs-3.col-xs-offset-1
                .contact-number 
                    客服电话
                    br 
                    国内：400-890-0309
                    br 
                    海外：+86-10-5904-5310
            .col-xs-2.col-xs-offset-1
                h3 公司信息
                ul.company-info-list
                    li 
                        a(href="#") 关于
                    li 
                        a(href="#") 工作机会
                    li 
                        a(href="#") 新闻
                    li 
                        a(href="#") 博客
                    li 
                        a(href="#") 帮助
                    li 
                        a(href="#") 政策
                    li 
                        a(href="#") 灾难响应
                    li 
                        a(href="#") 条款与隐私
            .col-xs-2 
                h3 发现
                ul.discovery-list
                    li 
                        a(href="#") 信任与安全
                    li 
                        a(href="#") 邀请好友
                    li 
                        a(href="#") 礼品卡
                    li 
                        a(href="#") Airbnb精选
                    li 
                        a(href="#") 移动版
                    li 
                        a(href="#") 支持纽约市
                    li 
                        a(href="#") 商务差旅
                    li 
                        a(href="#") 网站地图
            .col-xs-2 
                h3 出租
                ul.rent-list
                    li 
                        a(href="#") 为什么要出租?
                    li 
                        a(href="#") 好客之道
                    li 
                        a(href="#") 房东义务
                    li 
                        a(href="#") 居家安全
        hr 
        .text-center 
            h3 关注我们
            ul.focus-list
                li 
                    a(href="#") 微博
                li 
                    a(href="#") 领英
            .text-muted © Airbnb, Inc.