extends ../layout
block stylesheets
    link(rel="stylesheet", href="index.css")
//- block scripts
    //- script(text="text/javascript",href="/frontend/index.js")
block content
    .homeSlider
        .carousel.slide(id="homeCarousel" data-ride="carousel")
        ol.carousel-indicators
            li(data-target="#homeCarousel" data-slide-to="0" class="active")
            li(data-target="#homeCarousel" data-slide-to="1")
            li(data-target="#homeCarousel" data-slide-to="2")
        .carousel-inner(role="listbox")
            .item.active
                img(src="", alt="")
                .carousel-caption slider描述
            .item.active
                img(src="", alt="")
                .carousel-caption slider描述
            .item.active
                img(src="", alt="")
                .carousel-caption slider描述
        a.left.carousel-control(href="#homeCarousel" role="button" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        a.right.carousel-control(href="#homeCarousel" role="button" data-slide="next")
            span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
    .airbnbSpacial
        .airContainer
            .text-center
                i.icon
                .value-prop-text
                    .h3
                        strong 价格实惠
                    div
                        small 比同等酒店价格更低
            .text-center
                i.icon
                .value-prop-text
                    .h3
                        strong 居家体验
                    div
                        small 走到哪里都是家的感觉
            .text-center
                i.icon
                .value-prop-text
                    .h3
                        strong 特色奇居
                    div
                        small 树屋城堡应有尽有
            .text-center
                i.icon
                .value-prop-text
                    .h3
                        strong 融入当地
                    div
                        small 像当地人一样生活
    .cityShow
    .belongAnywhere

