extends ../layout
block stylesheet
    link(rel="stylesheet", href="/frontend/index.css")
    link(rel="stylesheet", href="/frontend/footer.css")
block scripts
    script(text="text/javascript",href="index.js")
block content
    .airbnb-header(id="header")
        .regular-header(id="new-header")
            .header-item.airbnb-logo.pull-left
                a(href="/") Airbnb
                    i.icon.login-show
                    i.icon.logout-show
            .header-item.pull-right.logout-show
                a(href="/login") 登录
            .header-item.pull-right.logout-show
                a(href="/register") 注册
            .header-item.pull-right.help
                a(href="/help")
                    span 帮助
            .header-item.pull-right.become-a-host
                a(href="#")
                    span.btn.btn-small.btn-become-a-host 成为房东
    .home-header-wrapper.container-fluid
        .slider-wrapper
            .carousel.slide(id="homeCarousel" data-ride="carousel")
                .carousel-inner(role="listbox")
                    .item.active
                        .slider-caption 趁青春，去猎"奇"
                        img(src="https://z2.muscache.com/airbnb/static/homepages/china/campaigns/taiwan/header-734f7ca5ad58d7382c99172ebe61e711.jpg")
                    .item
                        .slider-caption 睡在山海间，住进人情里
                        img(src="", alt="")
                    .item
                        .slider-caption 住在城市中心
                        img(src="", alt="")
                a.left.carousel-control(href="#homeCarousel" role="button" data-slide="prev")
                    span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                a.right.carousel-control(href="#homeCarousel" role="button" data-slide="next")
                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        .searchbar-wrapper.container
            .searchbar.row
                form(id="searchbar-form", method="get", action="")
                    .search-options
                        label.searchbar-where-you-go
                            input(type="text" placeholder="你想去哪里？")
                        label.searchbar-in-date
                            input(type="text" placeholder="入住日期")
                        label.searchbar-out-date
                            input(type="text" placeholder="退房日期")
                        label.searchbar-guests
                            .guests-select
                                select.guests
                                    options(value="0") 1位房客
                                    options(value="1") 2位房客
                                    options(value="2") 3位房客
                                    options(value="3") 4位房客
                                    options(value="4") 5位房客
                    button.btn.btn-large(type="submit") 搜索
    .airbnb-special-section
        .air-container.container
            .row
                .special-item.col-xs-3
                    i.icon
                    .value-prop-text
                        .h3
                            strong 价格实惠
                        div
                            small 比同等酒店价格更低
                .special-item.col-xs-3
                    i.icon
                    .value-prop-text
                        .h3
                            strong 居家体验
                        div
                            small 走到哪里都是家的感觉
                .special-item.col-xs-3
                    i.icon
                    .value-prop-text
                        .h3
                            strong 特色奇居
                        div
                            small 树屋城堡应有尽有
                .special-item.col-xs-3
                    i.icon
                    .value-prop-text
                        .h3
                            strong 融入当地
                        div
                            small 像当地人一样生活
    .discovery-section.container
        .section-intro.section-header
            h2 
                strong 周末好去处
            p 发现离家近的好地方
        .discovery-list.row
            .discovery-item-wrapper.col-xs-4
                .discovery-item.item0
                    .discovery-caption 清迈
            .discovery-item-wrapper.col-xs-4
                .discovery-item.item1
                    .discovery-caption 首尔
            .discovery-item-wrapper.col-xs-4
                .discovery-item.item2
                    .discovery-caption 曼谷
        .discovery-btn-wrapper.row
            .discovery-btn.col-xs-4.col-xs-offset-4
                a.btn.btn-default(href="#")
                    span 查看所有目的地
    .discovery-world-section.container
        .section-intro.section-header
            h2 
                strong 探索世界
            p 搜罗全球热门目的地
        .row
            .place-item.place0.col-xs-8
                .discovery-caption 东京
            .place-item.place1.col-xs-4
                .discovery-caption 巴黎
        .discovery-list.row
    .belong-anywhere-section.container-fluid
        .belong-wrapper
                .carousel.slide(id="belongAnywhere" data-ride="carousel")
                .carousel-inner(role="listbox")
                    .item.active
                        .belong-slider-caption 
                            span 家在四方
                            sma Airbnb房东在世界各地缔造一个个有归属感的家.
                        img(src="https://z2.muscache.com/airbnb/static/homepages/china/campaigns/taiwan/header-734f7ca5ad58d7382c99172ebe61e711.jpg")
                    .item
                        .belong-slider-caption 睡在山海间，住进人情里
                        img(src="", alt="")
                    .item
                        .belong-slider-caption 住在城市中心
                        img(src="", alt="")
                a.left.carousel-control(href="#belongAnywhere" role="button" data-slide="prev")
                    span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                a.right.carousel-control(href="#belongAnywhere" role="button" data-slide="next")
                    span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
    .community-section.container-fluid
        .community-wrapper
            .community-title.section-header.text-center
                h2 
                   strong 我们的社区

            ul.community-container.row
                li.col-xs-3
                    .community-item.creative
                        a(href="/")
                            .item-cover
                            .item-content
                                .item-head.text-center
                                    img(src="https://z1.muscache.com/airbnb/static/homepages/create-logo2-54abba61cb00e99ea9c5aee512eebe00.png")
                                .item-body.text-center
                                    img(src="https://z1.muscache.com/airbnb/static/homepages/create-img-32169a44fdeb55f73380e51162f51e27.png")
                                .item-caption.text-center
                                    h3 
                                        strong 创造属于您的Airbnb
                                    p 创造属于您的标志，分享属于您的故事！
                li.col-xs-3
                    .community-item.travelling
                        a(href="/")
                            .item-cover
                            .item-content
                                .item-head
                                .item-caption.text-center
                                    h3
                                        strong Alice & Chris
                                    .item-caption-describe 不管是跨洋过海还是跨城郊游，Alice & Chris总是寻找着最本真最当地化的体验。
                                    br 
                                    br 
                                    u 了解如何通过Airbnb旅行。
                li.col-xs-3
                    .community-item.business
                        a(href="/")
                            .item-cover
                            .item-content
                                .item-head
                                .item-caption.text-center
                                    h3
                                        strong 商务Airbnb
                                    .item-caption-describe 不管您因为工作来到哪里，都像回到了家里一样。
                                    br 
                                    br 
                                    u 让您的团队加入Airbnb。
                li.col-xs-3
                    .community-item.hosting
                        a(href="/")
                            .item-cover
                            .item-content
                                .item-head
                                .item-caption.text-center
                                    h3
                                        strong Nina
                                    .item-caption-describe 专业摄影师Nina喜欢帮助房客探索上海的艺术气息！
                                    br 
                                    br 
                                    u 了解如何在Airbnb出租。
    .trust-section.container-fluid
        .trust-section-wrapper.container
            .trust-title.text-center
                h2 以信任为基础的社区
            .trust-wrapper.row
                .trust-item.text-center.col-xs-4
                    span icon
                    h4 微博验证
                    p  使用您的微博帐户登录以验证您的身份。
                        a(href="/") 了解更多
                .trust-item.text-center.col-xs-4
                    span icon
                    h4 可信赖的服务
                    p  维护Airbnb社区的信任和安全是我们的首要任务
                        a(href="/") 了解更多
                .trust-item.text-center.col-xs-4
                    span icon
                    h4 安全支付
                    p  支付宝付款现已面向中国用户开通，欢迎使用。
                        a(href="/") 了解更多
    include footer.jade